body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-image: url('https://img.freepik.com/free-vector/winter-blue-pink-gradient-background-vector_53876-117276.jpg?w=2000&t=st=1692124681~exp=1692125281~hmac=eaf0a3784927aa8bd0b855734de35e60aeeaa393b30726709a05197ac6b2da73') ; 
    background-size: cover; 
    background-repeat: no-repeat; 
}

form {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
}

label {
    display: block;
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.error {
    color: red;
    font-size: 12px;
    margin-top: 4px;
}

.success {
    color: green;
}

.checkbox-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

